<%= render 'navbar' %>
<div class="container mx-auto mt-10">
  <div class="sm:flex shadow-md my-10">
    <div class="w-full sm:w-3/4 bg-white px-10 py-10">
      <div class="flex justify-between border-b pb-8">
        <h1 class="font-semibold text-2xl">My Plan</h1>
        <h2 class="font-semibold text-2xl"><%= @plan.trips.count %> Trips</h2>
      </div>

      <%= render partial: 'trips/trip', collection: @plan.trips %>
      
      <a href="/" class="flex font-semibold text-indigo-600 text-sm mt-10">
        <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
          <path
            d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
        </svg>
        Continue Shopping
      </a>
    </div>
    <div id="summary" class="w-full sm:w-1/4 md:w-1/2 px-8 py-10">
      <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
      <div class="justify-between mt-10 mb-5">
        <span class="font-semibold text-sm uppercase">Trips cost: <%= @plan.trips.sum(:cost) %></span><br/>
        <span class="font-semibold text-sm uppercase">GST: <%= @user.province.gst %>% </span><br/>
        <span class="font-semibold text-sm uppercase">PST: <%= @user.province.pst %>% </span><br/>
        <span class="font-semibold text-sm uppercase">HST: <%= @user.province.hst %>% </span><br/>
        <span class="font-semibold text-sm">$<%= @plan.total %></span>
      </div>
      
      <div class="border-t mt-8">
        <div class="flex font-semibold justify-between py-6 text-sm uppercase">
          <span>Total cost</span>
          <span>$<%= @plan.total %></span>
        </div>
        <a href="/plan/finalise" class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">
          Checkout
        </a>
      </div>
    </div>
  </div>
</div>
